<h1>Wordle</h1>

<table>
  <tr *ngFor="let prediction of player.predictions">
    <td *ngFor="let subprediction of prediction.subpredictions"
        class="{{subprediction.resultLetter}}">
                {{subprediction.guessLetter}}
    </td>
  </tr>
  <tr *ngFor="let n of numSequence(player.remainingGuesses)">
    <td *ngFor="let n of numSequence(player.answer.length)">
      &nbsp;&nbsp;&nbsp;
    </td>
  </tr>
</table>

<h1 *ngIf="player.hasWon">Congratulations, you win!</h1>
<h1 *ngIf="player.hasLost">Please try again, answer is: {{player.answer}}</h1>

<form #formDirective="ngForm" [formGroup]="form" (ngSubmit)="processGuess()">
  <input type="text" formControlName="guess" placeholder="Your guess">
  <div *ngIf="guessFormControl.hasError('wordNotInList')">
    Guess must be a valid 5 letter word
  </div>
  <button type="submit" [disabled]="player.hasWon || player.hasLost || form.invalid">Submit</button>
</form>
<form (ngSubmit)="newGame()">
  <button type="submit">New Game</button>
</form>
<input type="checkbox" name="checkbox-rules" (change)="onCheckBoxChange()">
<label for="checkbox-rules">Show rules</label>
<div name="rules" *ngIf="showRules">
  <h3>Rules</h3>
  <ul>
      <li>Guess a five letter English word</li>
      <li>You have six attempts</li>
      <li>Guesses must be a valid word (based on an internal list; not all words included)</li>
      <li>If a letter is in the word and in the correct position, it appears as green</li>
      <li>If a letter is in the word but not in the correct position, it appears as yellow</li>
      <li>If a letter is not in the word, it appears as grey</li>
  </ul>
</div>

<h4>Green Letters:</h4>
<table>
  <tr>
    <td *ngFor="let letter of player.greenList" class="M">
      {{letter}}
    </td>
  </tr>
</table>

<h4>Yellow Letters:</h4>
<table>
  <tr>
    <td *ngFor="let letter of player.yellowList" class="I">
      {{letter}}
    </td>
  </tr>
</table>

<h4>Grey Letters:</h4>
<table>
  <tr>
    <td *ngFor="let letter of player.greyList" class="N">
      {{letter}}
    </td>
  </tr>
</table>

<h4>White Letters:</h4>
<table>
  <tr>
    <td *ngFor="let letter of player.whiteList">
      {{letter}}
    </td>
  </tr>
</table>
