<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar"> 
    <button mat-raised-button (click)="onRulesButtonPress()">Rules</button>
    <span>Wordle</span>
    <button mat-raised-button (click)="onStatisticsButtonPress()">Statistics</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
  <div
  fxLayout="column"
  fxLayoutAlign="center"
  >
    <div fxLayout="column" name="col-1" id="col-1" fxFlex="grow" *ngIf="showRulesSection">
      <mat-card>
        <h3>Rules</h3>
        <ul>
            <li>Guess a five letter word</li>
            <li>You have six attempts</li> 
            <li>Guesses must be a valid word <b>(based on an internal list; not all words included, might have some weird words. Please use the suggestion box at the bottom if you come across them)</b></li>
            <li>If a letter is in the word and in the correct position, it appears as green</li>
            <li>If a letter is in the word but not in the correct position, it appears as yellow</li>
            <li>If a letter is not in the word, it appears as grey</li>
            <li><b>Chaos mode:</b> Every time you guess incorrectly, the answer changes</li>
        </ul>
      </mat-card>
    </div>


    <div fxLayout="column" name="col-2" id="col-2" fxFlex="grow">
      <mat-card>
        <div fxLayout="column" fxLayoutAlign="center">
            <!-- Gameplay Box -->
            <table class="center game-font game-table">
              <!-- display previous guesses -->
              <tr *ngFor="let prediction of player.predictions">
                <td *ngFor="let subprediction of prediction.subpredictions"
                    class="{{subprediction.resultLetter}}">
                            {{subprediction.guessLetter}}
                </td>
              </tr>
              <tr *ngIf="player.predictions.length < 6">
                <!-- fill in current guess -->
                <td *ngFor="let string of (gameForm.value.guess||'').toLowerCase().split('').slice(0,this.player.answer.length)">
                  {{string}}
                </td>
                <!-- fill in empty letters -->
                <td *ngFor="let i of numSequence(player.answer.length - (gameForm.value.guess||'').length)">
                  &nbsp;
                </td>
              </tr>
              <!-- generate empty guesses to show number of remaining guesses -->
              <tr *ngFor="let n of numSequence(player.remainingGuesses - 1)">
                <td *ngFor="let n of numSequence(player.answer.length)">
                  &nbsp;
                </td>
              </tr>
            </table>

          <div class="center">
            <h2 *ngIf="player.hasWon">Congratulations, you win!</h2>
            <h2 *ngIf="player.hasLost && !isChaosChecked">Try again, answer is: {{player.answer}}</h2>
            <h2 *ngIf="player.hasLost && isChaosChecked">Chaos! Answers were: {{player.chaosAnswers.join(', ')}}</h2>
          </div>

          <div class="center">
            <form #formDirective="ngForm" [formGroup]="gameForm" (ngSubmit)="onSubmitGuess()" [hidden]="player.hasWon || player.hasLost">
              <mat-form-field>
                <input matInput maxlength="{{player.answer.length}}" formControlName="guess" placeholder="Your guess" #guessInput>
                <mat-hint *ngIf="guessFormControl.hasError('wordNotInList')">
                  Must be a valid 5 letter word
                </mat-hint>
              </mat-form-field>
              <button type="submit" [disabled]="player.hasWon || player.hasLost || gameForm.invalid" mat-raised-button color="primary" (click)="guessInput.focus()">Submit</button>
            </form>
          </div>

          <div class="center"  *ngIf="player.hasWon || player.hasLost">
            <button mat-raised-button (click)="onNewGame(); guessInput.focus()">New Game</button>
          </div>

        </div>
      </mat-card>
    </div>


    <div name="col-3" id="col-3" fxFlex="grow">
      <mat-card>
        <h4>Clues</h4>
        <table class="table-hint">
          <tr>
            <td *ngFor="let letter of player.cluehelper.greenList" class="M">
              {{letter}}
            </td>
            <td *ngFor="let letter of player.cluehelper.yellowList" class="I">
              {{letter}}
            </td>
            <td *ngFor="let letter of player.cluehelper.greyList" class="N">
              {{letter}}
            </td>
            <td *ngFor="let letter of player.cluehelper.whiteList">
              {{letter}}
            </td>
          </tr>
        </table>
      </mat-card>
    </div>


    <div name="col-4" id="col-4" fxFlex="grow" *ngIf="showStatisticsSection">
      <mat-card>
        <h4>Statistics - {{gameMode[0].toUpperCase() + gameMode.slice(1)}} mode</h4>
        <p *ngIf="!gameHistory">No game history</p>
        <div *ngIf="gameHistory">
          <ul>
            <li>Games played: {{statistics.totalGamesPlayed}}</li>
            <li>Win rate: {{statistics.winRate}}%</li>
            <li>Wins: {{statistics.numberOfWins}}</li>
            <li>Losses: {{statistics.numberOfLosses}}</li>
            <li>Lifetime guesses: {{statistics.totalNumberOfGuesses}}</li>
            <li>Average guess for all games: {{statistics.averageNumberOfGuesses}}</li>
            <li>Average guess for won games: {{statistics.averageNumberOfGuessesInWonGames}}</li>
          </ul>
          <button mat-raised-button color="warn" (click)="onResetStatistics()">Reset Statistics</button>
        </div>
      </mat-card>
    </div>



    <div name="col-5" id="col-5">
      <mat-card>
        <h4>Game mode (refer to rules)</h4>
        <input type="checkbox" name="checkboxChaosMode" id="checkboxChaosMode" (click)="onChaosCheckbox()">
        <label for="checkboxChaosMode">Chaos</label>
      </mat-card>
    </div>



    <div name="col-6" id="col-6" *ngIf="showAddRemoveWordsSection">
      <mat-card>
        <h4>Suggest Add/Remove Words</h4>
        <div *ngIf="addWordList != '*****'; else loadingText6">
          <form [formGroup]="addForm" (ngSubmit)="onAddWord()">
            <mat-form-field>
              <input matInput type="text" placeholder="Word to add" formControlName="wordAdd">
              <mat-hint *ngIf="addFormControl.hasError('wordNotInList')">
                This word is already in the list
              </mat-hint>
              <mat-hint *ngIf="addFormControl.hasError('pattern')">
                Can only contain alphabets
              </mat-hint>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" [disabled]="addForm.invalid">Suggest</button>
          </form>
          <form [formGroup]="removeForm" (ngSubmit)="onRemoveWord()">
            <mat-form-field>
              <input matInput type="text" placeholder="Word to remove" formControlName="wordRemove">
              <mat-hint *ngIf="removeFormControl.hasError('wordNotInList')">
                Must be a valid 5 letter word
              </mat-hint>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" [disabled]="removeForm.invalid">Suggest</button>
          </form>
        </div>
        <ng-template #loadingText6>
          <p>Application not able to connect to database</p>
        </ng-template>
        <div *ngIf="addWordList != '*****'">
          <p>Suggestions will be reviewed</p>
          <p *ngIf="addWordList != '0'; else addListZero">Current length of add list: {{addWordList.split(",").length}}</p>
          <ng-template #addListZero>
            <p>Current length of add list: 0</p>
          </ng-template>
          <p *ngIf="removeWordList != '0'; else removeListZero">Current length of remove list: {{removeWordList.split(",").length}}</p>
          <ng-template #removeListZero>
            <p>Current length of remove list: 0</p>
          </ng-template>
        </div>
      </mat-card>
    </div>



    <div name="col-7" id="col-7" *ngIf="showContactSection">
      <mat-card>
        <h4>Contact</h4>
        <div *ngIf="addWordList != '*****'; else loadingText7">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmitContact()">
            <div fxLayout="column">
              <mat-form-field>
                <input matInput type="text" placeholder="Name" formControlName="name">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" placeholder="Contact (for getting back to you)" formControlName="contact">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Leave a message</mat-label>
                <textarea matInput cols="100" rows="1" formControlName="comments"></textarea>
              </mat-form-field>
            </div>
            <button type="submit" mat-raised-button color="primary" [disabled]="contactForm.invalid">Send</button>
          </form>
        </div>
        <ng-template #loadingText7>
          <p>Application not able to connect to database</p>
        </ng-template>
      </mat-card>
    </div>
  </div>
</div>

<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar"> 
    <button mat-raised-button (click)="onAddRemoveWordsButtonPress()">Edit Words</button>
    <span></span>
    <button mat-raised-button (click)="onContactButtonPress()">Contact</button>
  </mat-toolbar-row>
</mat-toolbar>
