<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/wordle.css">
    <title>Wordle</title>
</head>
    <body>
        <h1>Wordle</h1>
        <div name="predictionResults" th:if="${playerObj!=null}">
            <h1 th:if="${playerObj.win}">Congratulations, you win!</h1>
            <h1 th:if="${playerObj.limitHit}">Try again! The answer is <span data-th-text="${answer}"></span></h1>
            <table>
                <tr th:each="prediction:${playerObj.predictions}">
                    <td th:each="subprediction:${prediction.subpredictions}" th:text="${subprediction.guess.toUpperCase()}" data-th-class="${subprediction.result}"></td>
                </tr>
            </table>
        </div>
        <div th:if="${previousGuessInvalid}">
            <p>Previous guess invalid, please try again!</p>
        </div>
        <div>
            <form action="/guess" method="post">
                <input type="hidden" name="savedPredictions" id="savedPredictions" data-th-value="${savedPredictionsString}">
                <input type="hidden" name="answer" id="answer" data-th-value="${answer}">
                <input type="text" name="guess" id="guess" placeholder="Guess the word!" required>
                <button type="submit" th:disabled="${isButtonDisabled}">Guess!</button>
            </form>
        </div>
        <div>
            <form action="/new" method="get">
                <button type="submit">New Game</button>
            </form>
        </div>
        <div th:if="${playerObj!=null}">
            <h3>Green Letters:</h3>
            <table>
                <tr>
                    <td class="M" th:each="letter:${playerObj.greenLetters}" data-th-text="${letter}"></td>
                </tr>
            </table>
            <h3>Yellow Letters:</h3>
            <table>
                <tr>
                    <td class="I" th:each="letter:${playerObj.yellowLetters}" data-th-text="${letter}"></td>
                </tr>
            </table>
            <h3>Grey Letters:</h3>
            <table>
                <tr>
                    <td class="N" th:each="letter:${playerObj.greyLetters}" data-th-text="${letter}"></td>
                </tr>
            </table>
            <h3>White Letters:</h3>
            <table>
                <tr>
                    <td th:each="letter:${playerObj.whiteLetters}" data-th-text="${letter}"></td>
                </tr>
            </table>

        </div>
    </body>
</html>